@tailwind base;
@tailwind components;
@tailwind utilities;

html.has-scroll-smooth {
    overflow: hidden; }

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.has-scroll-smooth body {
    overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%; }

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0; }
.c-scrollbar:hover {
    transform: scaleX(1.45); }
.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3); }

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab; }
.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }


#nav1{
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);

    height: 100%;
    border-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 70vh;
    width: max-content;
}

.dropdown-menu:hover .dropdown button {
    scale: 1.2;
}
.dropdown:hover .dropdown-menu li{
    text-align: justify;
}
.dropdown-menu li a{
    color:#f4f4f4;
    transition: display 2s;
}

video {
    position: absolute;
    width: 100%;
    height: 80vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: -1;
}
#overlay {
    margin-right: 50px;
    min-height: 67vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.dropdown-menu::-webkit-scrollbar {
    width: 8px;

}

.dropdown-menu::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #8070d4;
}
nav{
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

@media (min-width: 320px) {
    #overlay {
        margin-right: 0;

    }
    video{
        top: 160px;
    }
}